* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 90vh;
    background-color: #212121;
    color: white;
}

#box {
    background-color: #0d1117;
    border: 30px solid #0d1117;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 8px 1px #35fc1b;
}

#box h4 {
    text-align: left;
}

.cotacao {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    table-layout: fixed;
    text-align: center;
}